main .title{
    padding: 12.4rem 20rem;
    display: block;
    text-align: center;
}

main .items{
    display: flex;
    justify-content: center;
}

main .items .item{
    background: var(--color1);
    color: var(--white);
    display: flex;
    height: 10rem;
    width: 25.2rem;
    border-radius: .8rem;
    margin-right: 4.8rem;
    font: 600 2.8rem 'Poppins', sans-serif;

    justify-content: center;
    align-items: center;
}

main .items .item:nth-child(4){
    margin: 0;
}