main .teachers-wrapper header{
    padding: 4.8rem 6.4rem 0 6.4rem;
}

main .teachers-wrapper header .content{
    background: var(--color1);
    border-radius: 1.6rem;
    height: 5.4rem;
    display: flex;
    justify-content: space-between;
    padding: .6rem 3.6rem;
}

main .teachers-wrapper header .title{
    font: 700 2.8rem 'Poppins', sans-serif;
    color: var(--white);
}

main .teachers-wrapper header .buttons{
    display: flex;
    align-items: center;
}

main .teachers-wrapper header .buttons a{
    height: 2.4rem;
    margin-left: 2.4rem;
}

main .teachers-wrapper ul{
    margin: 0 8.8rem 1.2rem;
    padding: 2.4rem 3.6rem;
    background: #F1EFFE;
    height: 47.4rem;

    border-radius: 0 0 1.6rem 1.6rem;
}

main .teachers-wrapper ul li{
    border-bottom: solid #CBC4FB .1rem;
    margin-bottom: .8rem;
}

main .teachers-wrapper ul li p{
    margin-bottom: .8rem;
    margin-left: .8rem;
    margin-right: .8rem;
    display: flex;
    justify-content: space-between;
}

main footer p{
    margin: 1.2rem 12.4rem;
    display: flex;
    justify-content: flex-end;
    color: #808080;
    font-size: 1.4rem;
}

/* POP-UP NEW teacher */
.new-teacher-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;

    background: #000000cc;

    visibility: hidden;
    opacity: 0;
}

.new-teacher-wrapper.open{
    visibility: visible;
    opacity: 1;
}

.new-teacher-wrapper .slide{
    width: 108.8rem;
    height: 60.2rem;
    background: var(--white);
    border-radius: 1.6rem;
    padding: 3.6rem 5.2rem;
    margin: auto;
}

.new-teacher-wrapper .slide header{
    display: flex;
    justify-content: space-between;
    margin-right: 1.6rem;
}

.new-teacher-wrapper .slide header form{
    display: flex;
    align-items: center;
}

.new-teacher-wrapper .slide header form h3{
    margin-right: 1.6rem;
    font: 600 2rem 'Poppins', sans-serif;
}

.new-teacher-wrapper .slide header input{
    width: 100%;
    padding: .7rem 1.6rem;

    background-color: #E6E6E6;
    border-radius: .8rem;
    font-size: 1.4rem;
}

.new-teacher-wrapper .slide main{
    margin: 2.7rem 1.6rem;
}

.new-teacher-wrapper .slide main h3{
    margin-left: 1.6rem;
    margin-bottom: 1.2rem;
    font: 600 2rem 'Poppins', sans-serif;
}

.new-teacher-wrapper .slide main input{
    width: 100%;
    margin-bottom: 2.4rem;
    padding: .7rem 1.6rem;

    background-color: #E6E6E6;
    border-radius: .8rem;
    font-size: 1.4rem;
}

.new-teacher-wrapper .slide main ul{
    height: 22rem;
    padding: 0 1.6rem 2.4rem 1.6rem;
}

.new-teacher-wrapper .slide main ul li{
    font: 400 2rem 'Poppins', sans-serif;
    margin-bottom: .8rem;
}

.new-teacher-wrapper .slide main .buttons{
    display: flex;
    justify-content: flex-end;
}

.new-teacher-wrapper .slide main .button{
    display: flex;
    align-items: center;
}

.new-teacher-wrapper .slide main .button img{
    margin-left: .8rem;
}

.new-teacher-wrapper .slide main .button:nth-child(1){
    margin-right: 2.4rem;
}

/* POP-UP VIEW teacher */
.view-teacher-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;

    background: #000000cc;

    visibility: hidden;
    opacity: 0;
}

.view-teacher-wrapper.open{
    visibility: visible;
    opacity: 1;
}

.view-teacher-wrapper .slide{
    width: 108.8rem;
    height: 60.2rem;
    background: var(--white);
    border-radius: 1.6rem;
    padding: 3.6rem 5.2rem;
    margin: auto;
}

.view-teacher-wrapper .slide header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-teacher-wrapper .slide .class-students{
    margin: 2.7rem 1.6rem;
    height: 39.5rem;
}

.view-teacher-wrapper .slide main h3{
    margin-left: 1.6rem;
    margin-bottom: 1.6rem;
    font: 600 2rem 'Poppins', sans-serif;
}

.view-teacher-wrapper .slide main ul{
    margin-left: 3.2rem;
}

.view-teacher-wrapper .slide main ul li{
    font: 2rem 'Poppins', sans-serif;
    margin-bottom: .8rem;
}

.view-teacher-wrapper .slide main .button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.view-teacher-wrapper .slide main .button img{
    margin-left: .8rem;
    filter: brightness(0);
}