main .title{
    padding: 3.2rem 20rem;
    display: block;
    text-align: center;
}

main .options{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .options .option-slide{
    border: solid var(--color1) .8rem;
    border-radius: 1.6rem;
    height: 48rem;
    width: 32rem;
    
    text-align: center;
}

main .options .option-slide:nth-child(1){
    margin-right: 6.4rem;
}

main .options .option-slide img{
    height: 9rem;
    margin: 10rem auto;

}

main .options .option-slide h3{
    font: 600 3.6rem 'Poppins', sans-serif;
    color: var(--color1);
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
}